<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805101340357-pg7qamd27shsqjhmvlakm519m4512cp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805101340357-pg7qamd27shsqjhmvlakm519m4512cp8</string>
	<key>API_KEY</key>
	<string>AIzaSyABHHYZjCLOa4WalPze3YwW39eRwuo5oQw</string>
	<key>GCM_SENDER_ID</key>
	<string>805101340357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centennial.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-972cd</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-972cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805101340357:ios:efffb534bc680d89e512ac</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-972cd.firebaseio.com</string>
</dict>
</plist>